:root {
    --bg-color: #2c293a;
}

@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Roboto-Regular.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: dark;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--bg-color);
    background: linear-gradient(135deg, #2c293a 20%, #3d1a4a);
    font-family: 'Roboto Regular', system-ui;
    text-rendering: optimizeLegibility;
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.aside-media, .main-screen, .aside-tools {
    width: 100%;
    outline: 1px solid #3c3944;
}

.aside-media {
    
}

.heading-title-container {
    margin: 1rem;
}

.heading-title-container h1 {
    font-size: 4rem;
    background: #700C80;
    background: linear-gradient(to right, #FADBFF 15%, #6B83E2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-title-container h2 {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 1rem;

}

.main-screen {
    
}

.aside-tools {
    
}
